click==6.7
Flask==0.12.2
gitdb2==2.0.3
GitPython==2.1.8
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
opentimestamps==0.2.0.1
opentimestamps-client==0.5.1
pysha3==1.0.2
PySocks==1.6.8
python-bitcoinlib==0.9.0
smmap2==2.0.3
Werkzeug==0.14.1
